cluster.name: my-elk-cluster
node.name: node-1
network.host: 192.168.64.139
http.port: 9200
discovery.seed_hosts: ["192.168.64.139", "192.168.64.140", "192.168.64.141"]
cluster.initial_master_nodes: ["node-1"]
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
