server.host: "192.168.64.139"
server.port: 5601
elasticsearch.hosts: ["http://192.168.64.139:9200"]
#server.publicBaseUrl: "http://192.168.64.139:5601"
kibana.index: ".kibana"
logging.dest: /var/log/kibana/kibana.log
