input {
  beats {
    port => 5044
  }
}

filter {
  grok {
    match => {
      "message" => '%{IPORHOST:clientip} %{USER:ident} %{USER:auth} \[%{HTTPDATE:timestamp}\] "%{WORD:http_method} %{URIPATHPARAM:request} HTTP/%{NUMBER:http_version}" %{NUMBER:response_code} %{NUMBER:bytes} "-" "%{DATA:user_agent}"'
    }
  }

  if [log][file][path] == "/var/log/nginx/access.log" {
    grok {
      match => { "message" => '%{IPORHOST:clientip} %{USER:ident} %{USER:auth} \[%{HTTPDATE:timestamp}\] "%{WORD:http_method} %{URIPATHPARAM:request} HTTP/%{NUMBER:http_version}" %{NUMBER:response_code} %{NUMBER:bytes} "-" "%{DATA:user_agent}"' }
    }
  } else if [log][file][path] == "/var/log/nginx/error.log" {

    grok {

      match => { "message" => '%{TIMESTAMP_ISO8601:timestamp} \[%{DATA:error_level}\] %{GREEDYDATA:error_message}' }
    }
  }
}

output {
  if [log][file][path] =~ "/var/log/nginx/(access|error).log" {
    elasticsearch {
      hosts => ["192.168.64.139:9200"]
      index => "nginx_logs"
    }
  }
}